:root {
    --bg: rgb(255, 246, 236);
}

body::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgba(73, 76, 255, 0.349);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(73, 76, 255, 0.555);
}

body {
    background-color: var(--bg);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(73, 73, 73);
    background-color: var(--bg);
    z-index: 10;
}

.header-logo-image {
    height: 150px;
    width: 150px;
}

.header-left-side,
.header-right-side {
    display: flex;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.header-logo {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header-left-side a,
.header-right-side a {
    display: flex;
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-size: 15px;
    font-weight: bold;
    width: fit-content;
    height: 100%;
    text-align: center;
    padding: 0 5%;
    align-items: center;
}

.header-left-side a:hover,
.header-right-side a:hover {
    background-color: rgb(255, 239, 197);
}

.header-menu img {
    width: 50px;
    height: 50px;
}

.header-menu {
    width: 75%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
}
.first-container, .second-container, .third-container, .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: fit-content;
}
.first-container p, .second-container p, .third-container p {
    font-size: 1vw;
    color: rgb(34, 34, 34);
    text-align: center;
}
.story, .our-accomplishments{
    font-size: 1.75vw;
    font-weight: bold;
    color: rgb(34, 34, 34);
}
iframe {
    width: fit-content;
    height: 500px;
}
.about-title{
    font-size: 5vw;
    font-weight: bold;
    color: rgb(34, 34, 34);
}

@media(max-width: 800px) {
    .header-left-side {
        display: none;
    }

    .header-right-side {
        display: none;
    }

    .header-logo {
        width: 25%;
        padding-left: 25px;
    }

    .header-menu {
        display: flex;
    }
}