:root {
    --bg: rgb(255, 246, 236);
}

body::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: rgba(73, 76, 255, 0.349);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(73, 76, 255, 0.555);
}

body {
    background-color: var(--bg);
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(73, 73, 73);
    position: fixed;
    background-color: var(--bg);
    z-index: 10;
}

.header-logo-image {
    height: 150px;
    width: 150px;
}

.header-left-side,
.header-right-side {
    display: flex;
    width: 45%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.header-logo {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header-left-side a,
.header-right-side a {
    display: flex;
    text-decoration: none;
    color: rgb(73, 73, 73);
    font-size: 15px;
    font-weight: bold;
    width: fit-content;
    height: 100%;
    text-align: center;
    padding: 0 5%;
    align-items: center;
}

.header-left-side a:hover,
.header-right-side a:hover {
    background-color: rgb(255, 239, 197);
}

.hero-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.right-side-hero-banner h1 {
    width: 100%;
    font-size: 6vw;
    text-align: center;
    font-style: italic;
    font-family: "Brush Script MT", "Lucida Handwriting", "Apple Chancery", cursive;
}

.header-menu img {
    width: 50px;
    height: 50px;
}

.header-menu {
    width: 75%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
}

.left-side-hero-banner,
.right-side-hero-banner {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.left-side-hero-banner img {
    width: 95%;
    border: 1px solid gray;
    border-radius: 50px;
}

.left-side-hero-banner {
    align-items: center;
    justify-content: center;
}

.right-side-hero-banner {
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.content-div-element {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.content-div-element p {
    font-size: 25px;
    font-style: italic;
    display: flex;
    padding: 10px;
    width: 35%;
    text-align: center;
}

.image-div-first {
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.image-div-first img {
    width: 80%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.empty {
    width: 100%;
    height: 100px;
    margin-top: 600px;
}

@media(max-width: 800px) {
    .header-left-side {
        display: none;
    }

    .header-right-side {
        display: none;
    }

    .header-logo {
        width: 25%;
        padding-left: 25px;
    }

    .header-menu {
        display: flex;
    }
}

@media(max-width: 1000px) {
    .hero-banner {
        flex-direction: column;
        padding: 0;
    }

    .left-side-hero-banner,
    .right-side-hero-banner {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }

    .right-side-hero-banner {
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: row;
    }

    .left-side-hero-banner img {
        width: 100%;
        border: 0;
        border-radius: 0;
    }

    .left-side-hero-banner {
        align-items: flex-start;
        justify-content: center;
    }

    .right-side-hero-banner {
        align-items: flex-start;
        justify-content: center;
        position: relative;
        bottom: calc(105vw / 2);
        text-align: center;
    }

    .right-side-hero-banner h1 {
        color: var(--bg);
        font-size: 10vw;
    }
}